/node_modules
.env
/psql/liquibase.properties
/psql/postgresql-42.2.12.jar

# Ignores compiled TypeScript files
/**/*.map
/**/*.js
/client/dist/*
dev.env.js

#These files are not ignored
!/client/dist/index.html
!webpack.config.js